defaults:
  - _self_
  - model: small
  - override hydra/launcher: submitit_slurm

wandb_project: SEDD-Experiments

ngpus: 1
tokens: 16384 # openwebtext: 50257, wikitext103: 267,735, text8: 16384

training:
  batch_size: 1
  accum: 1
  n_iters: 1300001
  snapshot_freq: 5000
  log_freq: 50
  eval_freq: 500
  snapshot_freq_for_preemption: 5000
  weight: standard
  snapshot_sampling: True
  ema: 0.9999

data:
  train: text8
  valid: text8
  cache_dir: data

graph:
  type: absorb
  file: data
  report_all: False

noise:
  type: loglinear
  sigma_min: 1e-4
  sigma_max: 20

sampling:
  predictor: euler
  steps: 128
  noise_removal: True

eval:
  batch_size: 512
  perplexity: True
  perplexity_batch_size: 32

optim:
  weight_decay: 0
  optimizer: AdamW
  lr: 3e-4
  beta1: 0.9
  beta2: 0.999
  eps: 1e-8
  warmup: 2500
  grad_clip: 1.

hydra:
  run:
    dir: exp_local/${data.train}/${now:%Y.%m.%d}/${now:%H%M%S}
    # dir: exp_local/${data.train}/2025.12.17/181841
  sweep:
    dir: exp/${data.train}/${now:%Y.%m.%d}/${now:%H%M%S}
    # dir: exp_local/${data.train}/2025.12.17/181841
    subdir: ${hydra.job.num}
  launcher:
    max_num_timeout: 100000
    # timeout_min: 10079
    partition: g40x
    account: stanford
    mem_gb: 96
    cpus_per_task: 40
    gpus_per_node: ${ngpus}
    constraint: null
